
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/StyleSheet/Index.css" rel="stylesheet" />

</head>
<body>
    @* <marquee behavior="scroll" direction="left">Happiness can be found even in the darkest times if one only remembers to turn on the light.</marquee>*@
    <div class="container">


        <div class="centered"><h1><a href="@Url.Action("LogHere","Login")" style="color:white">Please Login Here</a></h1></div>
    </div>

</body>
</html>